:root {
    --background: black;
    --main-col: #f7a200;
    --secondary-col: red;
    --text-col: white;
    --button-text-col: black;
    --button-hov-col: #ffcc00;
    --timeline-col: #222;
    --link-background: #e0e0e0;
    --link-clicked-background: #979393;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    background-color: var(--background);
    font-family: "Press Start 2P", sans-serif;
}

a {
    color: var(--timeline-col);
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    background-color: var(--link-background);
    border-radius: 8px;
    transition: all 0.2s ease;
}

a:hover {
    color: var(--secondary-col);
    font-size: 14px;
    text-decoration: underline;
}

a:active {
    background-color: var(--link-clicked-background);
    color: var(--button-hov-col);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

section {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

p {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: var(--main-col);
    border: 4px solid var(--secondary-col); 
    color: var(--button-text-col);
    padding: 15px 30px;
    font-size: 20px;
    font-family: "Press Start 2P", sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    
}

button:hover {
    transform: scale(1.1); 
    font-size: 26px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1), 0px 0px 30px rgba(255, 0, 0, 0.6);
    background-color: var(--button-hov-col); 
}

button:active {
    transform: scale(1.1); 
    font-size: 26px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1), 0px 0px 30px rgba(255, 0, 0, 0.6);
    background-color: var(--button-hov-col); 
}

/*Video/Landing page Section */

.video-landing {
    width: 100%;
    height: 100vh;
}

.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-text p {
    font-size: 12px;
    color: var(--text-col);
}

.video-text button {
    margin: 60px;
}

.arcade-title {
    font-size: 32px;
    color: var(--main-col);
    letter-spacing: 12px;
    text-shadow: red 3px 5px, #FC0 1px 0 6px;
}

/*Timeline Section*/

.timeline{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--secondary-col);
    top: 0;
    bottom: 0;
    left: 50%;
}

.tl-left, .tl-right {
    max-width: 900px;
    width: 50%;
    padding: 10px 20px;
    margin-top: 25px;
}

.tl-left {
    text-align: right;
    align-self: flex-end;
}

.tl-right {
    text-align: left;
    align-self: flex-start;
}

.tl-content {
    background-color: var(--timeline-col);
    border: 2px dotted var(--secondary-col);
    border-radius: 8px;
    padding: 30px;
}

.tl-content img{
    margin-top: 20px;
}

@media screen and (max-width: 900px){
    .tl-left {
        text-align: left;
        align-self: flex-start;
    }
    .tl-left, .tl-right {
        width: 100%;
    }

    .timeline {
        margin-left: ;
    }

    .timeline::after {
        left: 0;
    }
}

/* Why Section */

.why-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.why-grid {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    row-gap: 40px;
    column-gap: 40px;
    max-width: 840px;
}

.why-item-left, .why-item-right {
    background-color: var(--timeline-col);
    border: 2px dotted var(--secondary-col);
    border-radius: 8px;
    padding: 30px;
    
    width: 100%
}
.why-item-left {
    grid-row: span 2;
    text-align: left;
}

.why-item-right {
    text-align: right;
}

.why-item-left img, .why-item-right img {
    margin-top: 20px;
}


/*NEEDS WORK!*/
@media screen and (max-width: 900px) {
    .why-grid {
        grid-template-columns: 1fr;
    }

    .why-item-left, .why-item-right {
        padding: 20px;
        text-align: center;
    }
}